<div class='lxc_head'>
	<span class='glyphicon glyphicon-th-list' id='s_span'></span>
	<h2 class="lxc_h2">BugCenter v0.3(前端版)</h2>
</div>
<div class='lxc_posi' id='lxc_p'>
	<a class='lxc_a active' href='javascript:;' id='xq'>BUG列表</a>
	<a class='lxc_a' href='javascript:;' id='tb'>图表</a>
	<a class='lxc_a' href='javascript:;' id='tc'>退出</a>
</div>
<div id="box">
	<div class='lxc_input'>
		<input class='lxc_texta' type="text" />
		<button class='lxc_btn'>搜索</button>
	</div>
	<div id="lxc_hz">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<shoufenqing data="Lxdata1"></shoufenqing>
		</div>
		<div class='butt'>
			<!--<ul class="pagination" style="margin: 0px;">
				<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:;" ng-click="p_index()">首页</a></li>
				<li ng-class="{true:'active'}[p_current==page]" ng-repeat="page in pages"><a href="javascript:;" ng-click="load_page(page)">{{ page }}</a></li>
				<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:;" ng-click="p_last()">尾页</a></li>
			</ul>-->
			<button onclick="Fn(0)">上一页</button>
			<button onclick="Fn(1)">下一页</button>
		</div>
	</div>
	<div class='lxc_tb'>
		<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
	</div>
</div>
<script>
	document.documentElement.style.fontSize = innerWidth / 16 + 'px'
	onresize = function() {
		document.documentElement.style.fontSize = innerWidth / 16 + 'px'
	}

	var btn = document.getElementsByClassName('lxc_btn')[0]
	var tex = document.getElementsByClassName('lxc_texta')[0]
	var anniu = document.getElementsByClassName('glyphicon')[0]
	var po = document.getElementById('lxc_p')
	var one = document.getElementById('lxc_hz')
	var two = document.getElementsByClassName('lxc_tb')[0]
	var a = document.getElementsByClassName('lxc_a')
	var box = document.getElementById('box')
	var butt = document.getElementsByClassName('butt')
	var sett = document.getElementsByClassName('settled')

	btn.onclick = function() {
		btn.style.transition = 'all 2s'
		btn.style.transform = 'scale(0.7,0.7) translateX(7rem)'
		btn.style.position = 'absolute'
		tex.style.display = 'block'
		tex.style.position = 'absolute'
	}

	anniu.onclick = function() {
		if(po.style.left == '-6rem') {
			po.style.position = 'absolute'
			po.style.left = '0rem'
			po.style.transition = 'all 1s'
		} else {
			po.style.position = 'absolute'
			po.style.left = '-6rem'
			po.style.transition = 'all 1s'
		}
	}
	box.onclick = function() {
		po.style.position = 'absolute'
		po.style.left = '-6rem'
		po.style.transition = 'all 1s'
	}
	xq.style.background = '#000'
	xq.onclick = function() {
		po.style.position = 'absolute'
		po.style.left = '-6rem'
		po.style.transition = 'all 1s'
		one.style.display = 'block'
		two.style.display = 'none'
		xq.style.background = '#000'
		tb.style.background = ''
		tc.style.background = ''
	}
	tb.onclick = function() {
		po.style.position = 'absolute'
		po.style.left = '-6rem'
		po.style.transition = 'all 1s'
		one.style.display = 'none'
		two.style.display = 'block'
		tb.style.background = '#000'
		xq.style.background = ''
		tc.style.background = ''
	}
	tc.onclick = function() {
		po.style.position = 'absolute'
		po.style.left = '-6rem'
		po.style.transition = 'all 1s'
		one.style.display = 'none'
		two.style.display = 'none'
		tc.style.background = '#000'
		xq.style.background = ''
		tb.style.background = ''
	}
	
</script>