
   
    		<!--顶部-->
		    <div class='lxc_head'>
		    	<span class='glyphicon glyphicon-th-list' id='s_span'></span>
					<h2 class="lxc_h2">BugCenter v0.3(前端版)</h2>
				</div>
				<!--顶部end-->
				 <div id="box">
				<!--左导航-->
				<div class='lxc_posi' id='lxc_p'>
					<a class='lxc_a' href='javascript:;' id='xq'>BUG列表</a>
					<a class='lxc_a' href='javascript:;' id='tb'>图表</a>
					<a class='lxc_a' href='javascript:;' id='tc'>退出</a>
				</div>
				<!--左导航end-->
				<!--搜索-->
				<div class='lxc_input'>
					<input class='lxc_texta' type="text"/>
					<button class='lxc_btn'>搜索</button>
				</div>
				<!--搜索end-->
				<!--bug盒子-->
				<div id="lxc_hz">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<shoufenqing data="Lxdata1"></shoufenqing>
					</div>
				</div>
					
				<!--换页-->
					<div class='butt'>
						<button>首页</button>
						<button>上一页</button>
						<button>下一页</button>
						<button>尾页</button>	
					</div>
				<!--bug盒子end-->
				<!--图表-->
				<div class='lxc_tb'>
						<!--<a href="javascript:;">线形图</a>
						<a href="javascript:;">柄状图</a>
						<a href="javascript:;">柱状图</a>-->
						<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"
						</canvas> 
				</div>
			<!--图表end-->
    </div>
<script>
	document.documentElement.style.fontSize=innerWidth/16+'px'
		onresize=function(){
			document.documentElement.style.fontSize=innerWidth/16+'px'
		}
		//手风琴效果
	function getClass(){         //获取类的时候，必须用此法  否则不兼容
		  if(document.getElementsByClassName){
			  return document.getElementsByClassName("has_children");
			  }else{
				  var arr = [];
				  var All = document.getElementsByTagName("*");
				  for(var i = 0;i<All.length;i++){
					  if(All[i].className == "has_children"){
						  arr.push(All[i]);
						  };
					  };
					  return arr
				  };
		  };
	var oHz=getClass();//document.getElementsByClassName('has_children');
	for(i=0;i<oHz.length;i++){
		oHz[i].firstElementChild.onclick = function(){
			if(this.parentNode.children[1].style.display !='block'){
				_a=document.getElementsByTagName('a');
				for(h=0;h<_a.length;h++){
					_a[h].style.display='none';	
				}
				for(t=1;t<this.parentNode.children.length;t++){
					this.parentNode.children[t].style.display="block";
				}
			}else{
				for(j=1;j<this.parentNode.children.length;j++){
					this.parentNode.children[j].style.display="none";
				}
			}
//			if(this.parentNode.children[1].style.display !='block'){
//				_btn=document.getElementsByTagName('button');
//				for(h=0;h<_a.length;h++){
//					_btn[h].style.display='none';	
//				}
//				for(t=1;t<this.parentNode.children.length;t++){
//					this.parentNode.children[t].style.display="block";
//				}
//			}else{
//				for(j=1;j<this.parentNode.children.length;j++){
//					this.parentNode.children[j].style.display="none";
//				}
//			}
		}	
	}
	var btn=document.getElementsByClassName('lxc_btn')[0]
	var tex=document.getElementsByClassName('lxc_texta')[0]
	var anniu=document.getElementsByClassName('glyphicon')[0]
	var po=document.getElementById('lxc_p')
	var one=document.getElementsByClassName('lxc_xq')[0]
	var two=document.getElementsByClassName('lxc_tb')[0]
	var a=document.getElementsByClassName('lxc_a')
	var box=document.getElementById('box')
	//
	btn.onclick=function(){
		btn.style.transition='all 2s'
		btn.style.transform='scale(0.7,0.7) translateX(7rem)'
		btn.style.position='absolute'
		tex.style.display='block'
		tex.style.position='absolute'
	}
	
	anniu.onclick=function(){
		if(po.style.left=='-6rem'){
			po.style.position='absolute'
			po.style.left='0rem'
			po.style.transition='all 1s'
		}else{
			po.style.position='absolute'
			po.style.left='-6rem'
			po.style.transition='all 1s'
		}
		
		
	}
	box.onclick=function(){
		po.style.position='absolute'
		po.style.left='-6rem'
		po.style.transition='all 1s'
	}
	//bug
	xq.onclick=function(){
		po.style.position='absolute'
		po.style.left='-6rem'
		po.style.transition='all 1s'
		one.style.display='block'
		two.style.display='none'
		xq.style.background='#000'
		tb.style.background=''
		tc.style.background=''
	}
	//图表
	tb.onclick=function(){
		po.style.position='absolute'
		po.style.left='-6rem'
		po.style.transition='all 1s'
		one.style.display='none'
		two.style.display='block'
		tb.style.background='#000'
		xq.style.background=''
		tc.style.background=''
	}
	//退出
	tc.onclick=function(){
		po.style.position='absolute'
		po.style.left='-6rem'
		po.style.transition='all 1s'
		one.style.display='none'
		two.style.display='none'
		tc.style.background='#000'
		xq.style.background=''
		tb.style.background=''
	}
</script>
